@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"),
    url("../fonts/ptsansnarrow.woff2") format('woff2'),
    url("../fonts/ptsansnarrow.woff") format('woff');
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"),
  url("../fonts/ptsansnarrowbold.woff2") format('woff2'),
  url("../fonts/ptsansnarrowbold.woff") format('woff');
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background: #f8f5f2 url("../img/bg-light.png");

  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.index-page {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background: #1b1b1b url("../img/background.jpg") no-repeat 50% 40px;
  background-size: 2560px 1716px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-header__logo-link {
  padding: 25px 20px 15px;
}

.index-page .main-header__logo-link {
  display: inline-block;
  margin: 0 auto;
  order: 2;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 calc(50% - 470px);
  min-width: 960px;
  background-color: #000000;
}

.index-page .main-nav {
  margin-bottom: 60px;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #000000;
  list-style: none;
}

.main-nav__list--left {
  max-width: 560px;
}

.main-nav__list--right {
  margin-left: auto;
}

.main-nav__link {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  position: relative;
  display: block;
  padding: 26px 20px;
}

.main-nav__link:hover:not(.main-nav__link--current) {
  background-color: #242424;
}

.main-nav__link--current {
  cursor: default;
}

.main-nav__link--current::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  border-top: 4px solid #ffffff;
}

.main {
  display: block;
}

.advantage__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 72px -10px 80px;
  padding: 0;
  list-style: none;
}

.advantage__item {
  margin: 0 10px;
  width: 300px;
}

.advantage__heading {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  color: #f7f4f1;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.advantage__text {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #f7f4f1;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 36px;

  background: #f8f5f2 url("../img/bg-light.png");
  /*background-color: black;*/
}

.news,
.photos {
  padding-left: 80px;
  width: 460px;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__heading,
.photos__heading,
.contacts__heading,
.to-book__heading {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
}

.news__item p,
.news__item time {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
}

.news__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
}

.news__btn:hover {
  background-color: #663d15;
}

.slider__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.slider__btn:hover {
  background-color: #663d15;
}

.contacts {
  padding-left: 80px;
  width: 460px;
}

.to-book {
  padding: 0 80px;
  width: 460px;
}

.contacts__text,
.to-book__text,
.to-book__label,
.to-book__label input,
.to-book__label input::placeholder {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  background-color: transparent;
}

.to-book__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.to-book__label {
  padding-left: 17px;
  width: 140px;
}

.to-book__label input {
  display: block;
  margin: 12px 0 16px -17px;
  padding-left: 17px;
  width: 140px;
  height: 43px;
  background-color: transparent;
  border: 2px solid #000101;
}

.to-book__label input:focus {
  outline: none;
  border-color: #663d15;
}

.to-book__label input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.contacts__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
}

.contacts__btn:hover {
  background-color: #663d15;
}

.to-book__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.to-book__btn:hover {
  background-color: #663d15;
}

.index__last-container {
  margin-bottom: 65px;
}

.main-footer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 41px, rgba(0, 0, 0, 0) 100%),
    url("../img/bg-dark.png");
}

.index-page .main-footer {
  background-image: url("../img/bg-dark.png");
}

.main-footer__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 960px;
}

.main-footer__column {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  width: 320px;
}

.main-footer__column--left {
  padding: 60px 0 40px 10px;
}

.main-footer__column--center {
  padding: 60px 10px 50px;
  text-align: center;
}

.main-footer__column--right {
  padding: 60px 10px 0 170px;
  text-align: center;
}

.follow-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.follow-us__item {
  margin: 0 3px;
}

.main-footer__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;

  display: inline-block;
  margin-top: 17px;
  padding: 10px 6px 9px;
  width: 140px;
  text-align: center;
}

.main-footer__btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.page {
  margin-top: 54px;
}

.page__heading {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 42px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f8f5f2;

  margin: 0 0 17px;
}

.page__crumbs {
  display: flex;
  flex-direction: row;
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
}

.page__crumbs-item:not(:last-child) {
  padding-right: 42px;
}

.page__nav-link {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f8f5f2;
}

.page__nav-link:hover {
  text-decoration: underline;
}

.page__nav-link--current {
  color: #aba9a7;
  cursor: default;
}

.page__nav-link--current:hover {
  text-decoration: none;
}

.catalogue {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.catalogue__filters {
  flex-grow: 0;
  flex-shrink: 0;
  width: 230px;
}

.catalogue__filters-group {
  margin: 0;
  padding: 32px 0 0;
  border: none;
}

.catalogue__filters-group-name {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalogue__check-box,
.catalogue__radio-button {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  display: block;
  margin-bottom: 22px;
}

.catalogue__filters-btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.catalogue__filters-btn:hover {
  background-color: #663d15;
}

.catalogue__gallery {
  margin: -10px;
  width: 720px;
}

.catalogue__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 45px 0;
  padding: 0;
  list-style: none;
}

.catalogue__item {
  margin: 7px 10px 13px;
  width: 220px;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.catalogue__item:hover {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.35);
}

.ware__link {
  text-decoration: none;
}

.ware__text {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #000000;
}

.ware__text--upper {
  text-transform: uppercase;
}

.ware__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;

}

.ware__btn:hover {
  background-color: #663d15;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

.pagination__item {
  margin-right: 7px;
}

.pagination__link {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 18px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;

  display: block;
  padding-top: 13px;
  width: 43px;
  height: 43px;
}

.pagination__link--current {
  color: #000000;
  background-color: #ffffff;
  cursor: default;
}

.pagination__link:hover {
  background-color: #663d15;
}

.lot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 50px;
}

.lot__images {
  width: 460px;
}

.lot__img {
  width: 460px;
  height: 498px;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.lot__preview-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -20px;
}

.lot__small-img {
  margin: 20px 20px 0 0;
  width: 140px;
  height: 149px;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.lot__description {
  padding-top: 20px;
  width: 390px;
}

.lot__text {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  margin: 0 0 40px 0;
}

.lot__text--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lot__left-text-part,
.lot__right-text-part {
  display: inline-block;
  width: 180px;
}

.lot__right-text-part {
  color: #aeaeae;
  text-align: right;
}

.lot__btn {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  text-transform: uppercase;
}

.lot__btn:hover {
  background-color: #663d15;
}

.lot__sub-heading {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  margin: 60px 0 35px 0;
}

.lot__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lot__item {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  padding-left: 20px;
}

/*  Прайс-лист  */

.price-list {}

.price-list h2 {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  margin: 62px 0 32px;
  width: 100%;
}

.price-list h2:first-child {
  margin-top: 0;
}

.price-list .big-heading {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
}

.big-heading::before,
.big-heading::after {
  display: inline-block;
  content: "";
  flex-grow: 1;
  width: 20px;
  height: 2px;
  background-color: #000000;
  margin: 0 25px 0 0;
}

.big-heading::after {
  margin: 0 0 0 25px;
}

.price-list__column-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-list__column {
  margin-bottom: 65px;
  width: 460px;
}

.list-custom-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-custom-1 li {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  padding-left: 20px;
}

.table-custom-1 {
  border-collapse: collapse;
  width: 100%;
}

.table-custom-1 td {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: left;
  vertical-align: middle;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
  border: solid 2px #000101;

  padding: 0 20px;
  width: 50%;
  height: 43px;
}

.table-custom-1 td:last-child {
  text-align: center;
}

.price-list p {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;

  margin-top: 0;
  padding-right: 75px;
  width: 460px
}










































.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
